<div class="table-content">
  <table
    #linkHistoryTable
    mat-table
    [dataSource]="historyItems"
    matSort
    (matSortChange)="onSortChange($event)"
  >
    <ng-container matColumnDef="outbound">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <div class="cell-content">
          <div class="label-header">
            Incoming/
            <br />
            Outgoing
          </div>
        </div>
      </th>
      <td mat-cell *matCellDef="let element">
        <div class="items-center">
          <img
            *ngIf="element.outbound"
            src="assets/outgoing.svg"
            [matTooltip]="'Outbound'"
          />
          <img
            *ngIf="!element.outbound"
            src="assets/incoming.svg"
            [matTooltip]="'Inbound'"
          />
        </div>
      </td>
    </ng-container>
    <ng-container matColumnDef="targetType">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Type</th>
      <td mat-cell *matCellDef="let element">
        <div style="display: flex; align-items: center">
          <ds-icon
            class="icon-32"
            [icon]="element.outbound ? element.targetType : element.sourceType"
            [iconType]="S3"
            [tooltipDisabled]="false"
            [delay]="300"
          >
          </ds-icon>
        </div>
      </td>
    </ng-container>
    <ng-container matColumnDef="linkType">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Link Type</th>
      <td mat-cell *matCellDef="let element">
        {{ element.linkType.value }}
      </td>
    </ng-container>
    <ng-container matColumnDef="targetName">
      <th mat-header-cell *matHeaderCellDef>
        <div class="cell-content">
          <div
            (click)="enableInputSearch()"
            *ngIf="!inputSearchEnabled"
            class="label-header"
            style="display: flex; justify-content: space-between"
            [matTooltip]="'Filter by Resource Name'"
          >
            <span>Resource Name</span>
            <mat-icon>search</mat-icon>
          </div>
          <div *ngIf="inputSearchEnabled" style="display: flex; gap: 8px">
            <mat-icon>search</mat-icon>
            <input
              matInput
              [cdkTrapFocusAutoCapture]="inputSearchEnabled"
              [cdkTrapFocus]="inputSearchEnabled"
              (keyup)="onInputChange($event)"
              class="filter-container"
            />
          </div>
        </div>
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.outbound ? element.targetName : element.sourceName }}
      </td>
    </ng-container>
    <ng-container matColumnDef="deletedBy">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <div class="cell-content">
          <div class="label-header">Deleted By</div>
        </div>
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.deletedBy }}
      </td>
    </ng-container>
    <ng-container matColumnDef="deletedAt">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <div class="cell-content">
          <div class="label-header">Deleted At</div>
        </div>
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.deletedAt | date : "MM/dd/yyyy" }}
      </td>
    </ng-container>
    <ng-container matColumnDef="restoreAction">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button
          mat-icon-button
          [matTooltip]="'Restore Link'"
          (click)="onRestoreLink(element)"
        >
          <mat-icon>history</mat-icon>
        </button>
      </td>
    </ng-container>
    <tr
      mat-header-row
      *matHeaderRowDef="displayedColumns; sticky: true"
      class="header-row"
    ></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      class="data-row"
    ></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="8">No data matching the filter.</td>
    </tr>
  </table>
  <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
</div>
