.navbar {
  width: auto;
  height: 60px;
  background: #00354f;
  padding: 0px 1rem;
  display: flex; 
  justify-content: space-between
}

.logo {
  margin-left: 20px;
  margin-right: 10px;
  height: 29px;
}

.rrm-title {
  color: white;
  margin-right: 20px;
  font-weight: 500;
  font-size: x-large;
  vertical-align: super;
}
