<button
  mat-button
  [matMenuTriggerFor]="view"
  class="navbar-item"
  *ngIf="!isFilterViewSelected"
  (click)="cancelLinking()"
>
  View
</button>
<button
  mat-button
  [matMenuTriggerFor]="view"
  class="navbar-item"
  *ngIf="isFilterViewSelected"
  (click)="cancelLinking()"
>
  Filter View
</button>

<mat-menu #view="matMenu">
  <button (click)="toggleFilterView()" mat-menu-item>
    <ng-container *ngIf="!isFilterViewSelected"
      >Hide schema resources</ng-container
    >
    <ng-container *ngIf="isFilterViewSelected"
      >Show schema resources</ng-container
    >
  </button>
  <button (click)="toggleResourceName()" mat-menu-item>
    <ng-container *ngIf="!isLongNameSelected">Long Resource Names</ng-container>
    <ng-container *ngIf="isLongNameSelected">Short Resource Names</ng-container>
  </button>
  <button (click)="toggleConnectionName()" mat-menu-item>
    <ng-container *ngIf="!isLinkNameSelected">Connection Names</ng-container>
    <ng-container *ngIf="isLinkNameSelected">No Connection Names</ng-container>
  </button>
  <!-- <hr />
  <p class="menuTitle">Advanced View Settings</p>
  <button mat-menu-item [matMenuTriggerFor]="myColor" disabled>Color</button>
  <button mat-menu-item disabled>High-Contrast-Mode</button>
  <button mat-menu-item [matMenuTriggerFor]="myFontSize" disabled>Font Size</button> -->

  <mat-menu #myColor="matMenu">
    <button mat-menu-item disabled>White</button>
    <button mat-menu-item disabled>Green</button>
  </mat-menu>
  <mat-menu #myFontSize="matMenu">
    <button mat-menu-item disabled>7</button>
    <button mat-menu-item disabled>13</button>
    <button mat-menu-item disabled>19</button>
  </mat-menu>
</mat-menu>
