.dialog-header h2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-buttons {
    float: right;
    width: fit-content;
}

.dialog-btn{
    margin-left: 1em;
    margin-top: 1em;
}

#btn-continue {
    background-color: #e5004b;
}

#btn-cancel {
    background-color: #002e46;
}