main {
    background-color: #f4f5f6;
}

mat-sidenav { 
    width: 1000px; 
    height: 90%; 
}

.sidenav-content {
    margin-top: 45px;
    margin-left: 25px;
}
.sidenav-container{
    width: 800px;
    position: fixed;
    top: 60px;
    bottom: 72px;
}
.sidebar-close{
    display: flex;
    justify-content: end;
}


::ng-deep .rotated {

    right: -110px;
    top: 50%;
    position: fixed;
    width: 3em;
    height: 18em;
    transform: rotate(270deg);
  
  }