// .inputs {
//     display: inline;
// }

.input-container {
    display: flex;
    flex-direction: column;
}

.inner-container-dialog{
    padding: 12px !important;
    border: 2px solid #BABFC1 !important;
}