<graph></graph>
<div *ngIf="linkingModeEnabled" class="linking-mode-indicator d-flex">
  <span class="linking-mode-indicator-text d-flex gap-1">
    <span
      >Linking mode enabled. Click on two nodes which should be linked.</span
    >
    <span class="linking-count">{{ linkingNodesSelected }}/2</span>
  </span>
  <button mat-raised-button class="cancel-linking" (click)="cancelLinking()">
    Cancel
  </button>
</div>
<div
  *ngIf="linkHistory.length > 0"
  class="link-history-persistence"
  [class.linking-mode-enabled]="linkingModeEnabled"
>
  <div class="link-accordion-container">
    <mat-accordion>
      <mat-expansion-panel class="linking-expansion-panel">
        <mat-expansion-panel-header>
          <mat-panel-title>Publish modified links</mat-panel-title>
          <mat-panel-description>
            Click here for details
          </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-list>
          <mat-list-item *ngFor="let historyItem of linkHistory">
            <div
              [matTooltip]="
                historyItem.source.name +
                ' ' +
                historyItem.linkType.value +
                ' ' +
                historyItem.target.name
              "
              class="history-entry"
            >
              <div style="display: flex; flex-direction: column; min-width: 0">
                <div mat-line>
                  <b>{{ historyItem.source.name }}</b>
                  {{ historyItem.linkType.value }}
                  <b>{{ historyItem.target.name }}</b>
                </div>
                <div mat-line>Action: {{ historyItem.action }}</div>
              </div>
              <div>
                <button
                  (click)="deleteHistoryEntry($event, historyItem)"
                  mat-icon-button
                >
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </div>
          </mat-list-item>
        </mat-list>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <div>
    <button
      mat-raised-button
      class="link-save-button"
      style="margin-right: 10px"
      (click)="save()"
    >
      Save
    </button>
    <button
      mat-raised-button
      class="cancel-linking"
      (click)="cancelSelection(linkHistory)"
    >
      Cancel
    </button>
  </div>
</div>
