 div ~ div {
    padding-left: 25px !important;
  }
  
  ::ng-deep .icon-display {
    font-size: 1.4em !important;
    
     //position: absolute !important;
    //margin-right: 10px !important;
     //margin-top: 5px !important;
  }

  // ::ng-deep .rotated {

  //   transform: rotate(270deg) !important;
  
  // }


  
  // ::ng-deep .mat-icon {
  //   background-repeat: no-repeat;
  //   display: inline-block;
  //   fill: currentColor;
  //   }
    
    
    
  //   ::ng-deep .mat-icon.mat-icon-inline {
  //   height: inherit;
  //   line-height: inherit;
  //   width: inherit;
  //   }

  // .supportfeedbackbar {
  //   position: absolute; 
  //   right: 280px; top: 595px;
  // }