<div class="dialog-content">
  <div class="dialog-topbar">
    <h2>Linking actions for Resource {{ resourceName }}</h2>
    <button mat-icon-button class="close-button" [mat-dialog-close]="true">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <mat-tab-group
    (selectedIndexChange)="selectedTabIndex = $event"
    [selectedIndex]="selectedTabIndex"
  >
    <mat-tab label="Show/Hide linked resources">
      <colid-display-links
        [links]="links"
        [selection]="selection"
      ></colid-display-links>
    </mat-tab>
    <mat-tab label="Link History">
      <colid-link-history
        [startPidUri]="resourcePidUri"
        (newLink)="onRestoredLink($event)"
      ></colid-link-history>
    </mat-tab>
  </mat-tab-group>
  <div mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button
      mat-button
      mat-flat-button
      color="primary"
      (click)="loadLinks()"
      *ngIf="selectedTabIndex === 0"
    >
      Update Links
    </button>
  </div>
</div>
