.arrow {
    stroke-width: 0.25;
}

.link.standard {
    stroke: darkgrey;
}
.link.highlighted{
    stroke: blue;
    stroke-width: 2px;
}

.text.standard {
    fill: darkgray;
}

.text.highlighted {
    fill: blue
}

.arrow.standard {
    stroke: darkgrey;
    fill:darkgrey;
    
}
.arrow.highlighted {
    stroke: blue;
    fill: blue;
}

.link2{
    cursor: pointer;
}

