<ng-container *ngIf="link.source && link.target && link.display">
  <!-- SVG line -->
  <ng-container *ngIf="link.isVersionLink">
    <svg:path
      class="link"
      [attr.class]="pathClass"
      [attr.d]="link.d"
      stroke-dasharray="5"
      fill="transparent"
      [attr.marker-end]="endMarker"
    ></svg:path>
  </ng-container>
  <ng-container *ngIf="!link.isVersionLink">
    <svg:path
      class="link"
      [attr.class]="pathClass"
      [attr.d]="link.d"
      fill="transparent"
      [attr.marker-end]="endMarker"
    ></svg:path>
  </ng-container>

  <!-- Invisible SVG line to increase hitbox for context menu -->
  <svg:path
    [attr.d]="link.d"
    stroke="transparent"
    fill="transparent"
    stroke-width="25"
  ></svg:path>

  <!-- LineArrow -->
  <svg:defs>
    <svg:marker
      [attr.id]="uuid"
      viewBox="0 0 6 6"
      refX="6"
      refY="3"
      markerUnits="strokeWidth"
      markerWidth="6"
      markerHeight="6"
      orient="auto"
    >
      <path [attr.class]="arrowClass" d="M 0 0 L 6 3 L 0 6 z" />
    </svg:marker>
  </svg:defs>
  <ng-container *ngIf="showConnectionLinkName">
    <!-- Node link text box -->
    <svg:text
      stroke="#f4f5f6"
      stroke-width="0.6em"
      font-weight="bolder"
      #textElem
      text-anchor="middle"
      [attr.font-size]="12"
      [attr.x]="(link!.startPoint.x + link!.endPoint.x) / 2 + link.linkOffset"
      [attr.y]="(link!.startPoint.y + link!.endPoint.y) / 2 + link.linkOffset"
    >
      {{ link.linkTypeName }}
    </svg:text>
    <!-- Node link text -->
    <svg:text
      font-weight="bolder"
      #textElem
      [attr.class]="textClass"
      text-anchor="middle"
      [attr.font-size]="12"
      [attr.x]="(link!.startPoint.x + link!.endPoint.x) / 2 + link.linkOffset"
      [attr.y]="(link!.startPoint.y + link!.endPoint.y) / 2 + link.linkOffset"
    >
      {{ link.linkTypeName }}
    </svg:text>
  </ng-container>
</ng-container>
