#graphContainer {
    top: 60px;
    bottom: 72px;
    width: 100%;
    height: 90%;
    background-color: var(--colid-grey);
    position: fixed;
}
#svgGraphContainer {
    border: blue 2px solid;
} 