.ag-grid-filtering-bar {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding-bottom: 0.25rem;
  padding-left: 0.75rem;

  label {
    margin-bottom: 0;
  }

  &__quick-filter-input {
    --ag-borders-input: 1px solid;
    --ag-input-border-color: black;

    width: 20rem;
  }
}
