.search-results {
  height: calc(100% - 100px);
}

.filter-panel {
  flex: 3; 
  height: 100%;

  @media (max-width: 1540px) {
    flex: 4
  }
}

.search-results-panel {
  flex: 7;
  height: 100;

  @media (max-width: 1540px) {
    flex: 6
  }
}

