<button
  mat-raised-button
  color="accent"
  class="supportfeedbackbar"
  (click)="sendFeedbackMail()"
>
  <div class="d-flex">
    <mat-icon
      class="icon-display mat-icon notranslate material-icons-outlined mat-icon-inline mat-icon-no-color mr-2"
      fontset="material-icons-outlined"
      inline="true"
      role="img"
      aria-hidden="true"
      data-mat-icon-type="font"
      data-mat-icon-namespace="material-icons-outlined"
      >feedback</mat-icon
    >
    <span>We value your feedback</span>
  </div>
</button>
