<section id="graphContainer" *ngIf="graphProperties$|async; let graphProperties">
  <svg #svg id="graphSvgElement" [attr.width]="options.width" [attr.height]="options.height"
    [class.node-linking-mode]="linkingModeEnabled">
    <rect width="100%" height="100%" fill="#f4f5f6"></rect>
    <defs>
      <marker id="arrowhead" markerWidth="10" markerHeight="7" refX="10" refY="3.5" orient="auto">
        <polygon points="0 0 10 3.5 0 7" />
      </marker>
    </defs>
    <g [zoomableOf]="{nativeElement:svg}" [translateX]="options.width / 2.7" [translateY]="options.height / 2.7">
      <g [attr.transform]="viewShift">
        <g [linkVisual]="link" class="nodeLink" (contextmenu)="onContextMenu($event, link)"
          [showConnectionLinkName]="graphProperties.showConnectionNames" *ngFor="let link of _links"></g>

        <g [nodeVisual]="node" [showLongResourceName]="graphProperties.showLongNames"
          (contextmenu)="onNodeContextMenu($event, node)" *ngFor="let node of _nodes" [draggableNode]="node"
          [draggableInGraph]="graph" [class.node-linking-mode]="linkingModeEnabled"></g>
      </g>
    </g>
  </svg>

  <div #linkMenuTrigger="matMenuTrigger" style="visibility: hidden; position: fixed"
    [style.left]="linkContextMenuPosition.x" [style.top]="linkContextMenuPosition.y" [matMenuTriggerFor]="contextMenu">
  </div>
  <div #nodeMenuTrigger="matMenuTrigger" style="visibility: hidden; position: fixed;"
    [style.left]="nodeContextMenuPosition.x" [style.top]="nodeContextMenuPosition.y"
    [matMenuTriggerFor]="nodeContextMenu">
  </div>


  <mat-menu class="context-menu" #contextMenu="matMenu" backdropClass="menu" [overlapTrigger]="false">
    <ng-template matMenuContent let-item="item">
      <button class="context-menu" mat-menu-item (click)="deleteLink(item)">Delete</button>
    </ng-template>
  </mat-menu>


  <mat-menu class="context-menu" #nodeContextMenu="matMenu" backdropClass="menu" [overlapTrigger]="false">
    <ng-template matMenuContent let-item="item">
      <button class="context-menu" mat-menu-item (click)="expandNodes(item)">Expand linked nodes</button>
      <button class="context-menu" mat-menu-item (click)="selectLinkedNodes(item)">Select linked nodes</button>
      <button class="context-menu" mat-menu-item (click)="addLink(item)">Link Resource</button>
      <button class="context-menu" mat-menu-item (click)="hideNode(item)">Hide Resource</button>

        <button class="context-menu" mat-menu-item (click)="openDialog(item)">Links...</button>

      <button class="context-menu" mat-menu-item [matMenuTriggerFor]="resourceMaps"
        [matMenuTriggerData]="{'item': item}">Maps...</button>

      <mat-menu class="context-menu" #resourceMaps="matMenu" backdropClass="menu" [overlapTrigger]="false">
        <ng-template matMenuContent let-item="item">
          <ng-container *ngIf="overlapMaps.length > 0; else mapsEmpty">
            <button class="context-menu menu-header" mat-menu-item disabled>Maps containing resource</button>
            <ng-container *ngFor="let map of overlapMaps">
              <button class="context-menu" mat-menu-item>
                <button class="context-menu" mat-menu-item [matMenuTriggerFor]="mapOptions"
                  [matMenuTriggerData]="{'item': map}">{{map.name}}</button>
              </button>
            </ng-container>
          </ng-container>
        </ng-template>
      </mat-menu>

      <mat-menu class="context-menu" #mapOptions="matMenu" backdropClass="menu" [overlapTrigger]="false">
        <ng-template matMenuContent let-item="item">
          <button class="context-menu menu-header" mat-menu-item disabled>Options for map {{item.name}}</button>
          <button class="context-menu" mat-menu-item (click)="loadSecondMap(item)">Add map to current map</button>
          <button class="context-menu" mat-menu-item (click)="loadNewMap(item)">Load this map</button>
        </ng-template>
      </mat-menu>

      <ng-template #mapsEmpty>
        <button class="context-menu no-items" mat-menu-item disabled>No maps containing this resource</button>
      </ng-template>
    </ng-template>
  </mat-menu>
</section>
