<h3 mat-dialog-title>Map Details</h3>
<div mat-dialog-content>
  <mat-list>
    <mat-list-item>
      <div class="data-row">
        <span class="data-cell">Name</span>
        <span class="data-cell">{{ data.name }}</span>
      </div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <div class="data-row">
        <span class="data-cell">Description</span>
        <span class="data-cell">{{ data.description }}</span>
      </div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <div class="data-row">
        <span class="data-cell">Nodes</span>
        <span class="data-cell">{{ data.nodesCount }}</span>
      </div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <div class="data-row">
        <span class="data-cell">Date</span>
        <span class="data-cell">{{
          data.modifiedAt | date : "dd.MM.yyyy"
        }}</span>
      </div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <div class="data-row">
        <span class="data-cell">Created by</span>
        <span class="data-cell">{{ data.modifiedBy }}</span>
      </div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <div class="data-row">
        <span class="data-cell">Browsable URI</span>
        <div class="data-cell">
          <div class="pid-uri-container">
            <span class="pid-uri">{{ data.browsablePidUri }}</span>
            <button mat-icon-button>
              <mat-icon
                [cdkCopyToClipboard]="data.browsablePidUri"
                matTooltip="Copy URI to clipboard"
                >content_copy</mat-icon
              >
            </button>
          </div>
        </div>
      </div>
    </mat-list-item>
  </mat-list>
</div>
