@import "../../dropdownmenu.scss";

.navbar-account-item {
    font-size: 16px;
    color: #ffffff;
    letter-spacing: 0;
    line-height: 22px;
    padding-top: 19px;
    vertical-align: top;
   // align-items: flex-end; 
    display: inline-block;
    //float: right; 
    background-color: #00354f;
    border: none;
    outline: none;
}

/* Material-Icon: account_circle-24px */

.navbar-account-logo {
    width: 32px;
    height: 32px;
    color: #ffffff;
    margin-top: 14px;
    display: inline-block;
   // align-items: flex-end;    
    //float: right; 
}
