<div class="maps-browser__header">
  <span mat-dialog-title>{{ dialogTitle }}</span>
  <button mat-icon-button [mat-dialog-close]="true">
    <mat-icon>close</mat-icon>
  </button>
</div>
<mat-dialog-content>
  <app-ag-grid-filtering-bar [gridApi]="gridApi"></app-ag-grid-filtering-bar>
  <ag-grid-angular
    [rowData]="rowData"
    [columnDefs]="colDefs"
    [gridOptions]="gridOptions"
    [loading]="loading$ | async"
    (gridReady)="onGridReady($event)"
    (filterChanged)="onFilterChanged()"
    class="maps-browser__grid ag-theme-quartz"
  >
  </ag-grid-angular>
  <app-ag-grid-status-bar
    [totalRowsCount]="rowData?.length"
    [filteredRowsCount]="filteredRowsCount"
  >
  </app-ag-grid-status-bar>
</mat-dialog-content>
<mat-dialog-actions align="end" class="maps-browser__footer">
  <button
    class="cancel-button"
    mat-button
    mat-stroked-button
    color="primary"
    (click)="cancel()"
  >
    Cancel
  </button>
</mat-dialog-actions>
