<div class="content-container">
  <div>
    <button mat-icon-button class="close-button" [mat-dialog-close]="true">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <h2 mat-dialog-title>Browse all maps</h2>

  <div
    class="table-container"
    id="table-browse-all-maps"
    #infiniteScroller
    infiniteScroll
    [infiniteScrollDistance]="1"
    [infiniteScrollThrottle]="50"
    [scrollWindow]="false"
    (scrolled)="onScrolled($event)"
  >
    <table
      mat-table
      [dataSource]="dataSource"
      class="mat-elevation-z8"
      matSort
      (matSortChange)="onSortChange($event)"
    >
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef id="header-name">
          <div
            *ngIf="!nameHeaderClicked"
            class="label-header label-header-name"
            (click)="nameHeaderClicked = true"
            [matTooltip]="'Filter by Name'"
          >
            Name
            <mat-icon
              inline="true"
              class="search-header-icon"
              style="margin-left: 10px"
              >search</mat-icon
            >
          </div>

          <div *ngIf="nameHeaderClicked" class="filter-container">
            <mat-icon style="color: rgb(49, 179, 223)">search</mat-icon>

            <input
              matInput
              class="search-input"
              [cdkTrapFocusAutoCapture]="nameHeaderClicked"
              [cdkTrapFocus]="nameHeaderClicked"
              (keyup)="applyFilter($event)"
              #input
            />
          </div>
        </th>
        <td
          mat-cell
          *matCellDef="let element"
          #tdElement
          [matTooltip]="element.name"
          [matTooltipDisabled]="!isOverflow(tdElement)"
        >
          {{ element.name }}
        </td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th
          mat-header-cell
          *matHeaderCellDef
          id="header-description"
          mat-sort-header
        >
          <div class="label-header">Description</div>
        </th>
        <td
          mat-cell
          *matCellDef="let element"
          #tdElement
          [matTooltip]="element.description"
          [matTooltipDisabled]="!isOverflow(tdElement)"
        >
          {{ element.description }}
        </td>
      </ng-container>

      <ng-container matColumnDef="nodeCount">
        <th
          mat-header-cell
          *matHeaderCellDef
          id="header-nodeCount"
          mat-sort-header
        >
          <div class="label-header-nodes">Nodes</div>
        </th>
        <td style="text-align: center" mat-cell *matCellDef="let element">
          {{ element.nodeCount }}
        </td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef id="header-date" mat-sort-header>
          <div class="label-header">Date</div>
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.modifiedAt | date : "dd.MM.yyyy" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="creator">
        <th
          mat-header-cell
          *matHeaderCellDef
          id="header-creator"
          mat-sort-header
        >
          <div class="label-header">Created by</div>
        </th>
        <td
          class="modifiedBy"
          mat-cell
          *matCellDef="let element"
          #tdElement
          [matTooltip]="element.modifiedBy"
          [matTooltipDisabled]="!isOverflow(tdElement)"
        >
          {{ element.modifiedBy }}
        </td>
      </ng-container>
      <ng-container matColumnDef="pidUri">
        <th mat-header-cell *matHeaderCellDef id="header-pid-uri">
          Browsable URI
        </th>
        <td mat-cell *matCellDef="let element">
          <div class="pid-uri-container">
            <span class="pid-uri-text">{{ element.pidUri }}</span>
            <button
              *ngIf="element.pidUri != null"
              mat-icon-button
              [cdkCopyToClipboard]="element.pidUri"
              (click)="$event.stopPropagation()"
              matTooltip="Copy browsable URI to clipboard"
            >
              <mat-icon>content_copy</mat-icon>
            </button>
          </div>
        </td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef id="header-actions"></th>
        <td mat-cell *matCellDef="let element">
          <button
            mat-icon-button
            *ngIf="
              (isSuperAdmin$ | async) ||
              (currentUser$ | async) === element.modifiedBy
            "
            (click)="showConfirmationDialog($event, element)"
          >
            <mat-icon>delete_forever</mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="progress">
        <th mat-cell *matHeaderCellDef colspan="6">
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </th>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr
        mat-header-row
        *matHeaderRowDef="['progress']; sticky: true"
        style="height: 20px"
        [class.loading-finished]="(loading$ | async) === false"
      ></tr>
      <tr
        mat-row
        (click)="!data.secondMap ? loadMap(row) : loadSecondMap(row)"
        *matRowDef="let row; columns: displayedColumns"
      ></tr>

      <!-- Row shown when there is no matching data. -->
      <tr
        class="mat-row"
        *matNoDataRow
        [class.loading-finished]="loading$ | async"
      >
        <td class="mat-cell" colspan="6">No data matching the filter.</td>
      </tr>
    </table>
  </div>
  <mat-dialog-actions align="end">
    <button
      class="cancel-button"
      mat-button
      mat-stroked-button
      color="primary"
      (click)="cancel()"
    >
      Cancel
    </button>
  </mat-dialog-actions>
</div>
